
<div>
  <h1>Registro</h1>
  <form id="registerForm">
    <label>Nombre</label>
    <input name="first_name">
    <br/>
    <label>Apellido</label>
    <input name="last_name">
    <br/>
    <label>Email</label>
    <input name="email">
    <br/>
    <label>edad</label>
    <input name="age">
    <br/>
    <label>contraseña</label>
    <input name="password">
    <br/>
    <input type="submit">

  </form>
  <p>ya tienes una cuenta?</p><a href="/login">Ingresa aqui</a>
</div>

<script src="/js/register.js"></script>